<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <%- include('views/_head.ejs', { pageTitle: '付款｜Sweetaste' }) %>

  <body>
    <%- include('views/_navbar.ejs', { navLink: '付款' }) %>

    <section class="checkout mt-0 mt-md-45 mb-md-60">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 px-0 px-md-10">
            <div class="row">
              <div class="col-md-7">
                <div class="row no-gutters align-items-baseline text-light bg-primary pt-30 px-40">
                  <div class="col">
                    <h2>付款</h2>
                  </div>
                  <div class="col">
                    <div class="checkout-progress">
                      <div class="checkout-progress-item finish"></div>
                      <div class="checkout-progress-item active"></div>
                      <div class="checkout-progress-item"></div>
                    </div>
                  </div>
                </div>
                <form class="my-n1">
                  <div class="form-row mx-0 text-light bg-primary py-30 px-40">
                    <div class="form-group col-12">
                      <label for="cc-number" class="h5">信用卡卡號</label>
                      <div class="input-group">
                        <input type="tel" class="form-control bg-light border-right-0" id="cc-number"
                          placeholder="0912-345-678">
                        <div class="input-group-append d-flex justify-content-center align-items-center bg-light">
                          <i class="material-icons text-primary">credit_card</i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-12">
                      <label for="cc-last-name" class="h5">持卡人姓名</label>
                      <div class="form-row">
                        <div class="col-6">
                          <input type="text" class="form-control bg-light" id="cc-last-name" placeholder="王">
                        </div>
                        <div class="col-6">
                          <input type="text" class="form-control bg-light" id="cc-first-name" placeholder="小名">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-12">
                      <label for="cc-exp-month" class="h5">有效期限</label>
                      <div class="form-row mb-8">
                        <div class="col-6">
                          <select class="form-control bg-light" id="cc-exp-month">
                            <option selected disabled>月</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                          </select>
                        </div>
                        <div class="col-6">
                          <select class="form-control bg-light" id="cc-exp-year">
                            <option selected disabled>年</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-12 mb-0">
                      <label for="cc-csc" class="h5">背面末三碼</label>
                      <div class="form-row">
                        <div class="col-6">
                          <input type="tel" class="form-control bg-light" id="cc-csc" placeholder="123">
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="e-invoice.html" class="btn btn-lg btn-lg-fix btn-block btn-warning text-primary">下一步</a>
                </form>
              </div>

              <%- include('views/_checkout-summary.ejs') %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('views/_footer.ejs') %>

    <%- include('views/_scripts.ejs') %>
  </body>

</html>
